// Utility classes

.text-center {
	text-align: center;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;

	&:focus {
		width: auto;
		height: auto;
		margin: 0;
		overflow: auto;
		clip: auto;
	}
}

.full-height {
	height: 100vh;
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-column-container {
	flex-grow: 1;
}
